//文章内容宽度
.page .theme-default-content:not(.custom){
  max-width: 76%;
}

// 一级标题样式
.theme-default-content:not(.custom) > h1:first-child, 
.theme-default-content:not(.custom) > h2:first-child, 
.theme-default-content:not(.custom) > h3:first-child, 
.theme-default-content:not(.custom) > h4:first-child, 
.theme-default-content:not(.custom) > h5:first-child, 
.theme-default-content:not(.custom) > h6:first-child{
  color: #c56565; 
  text-align: center;
}


//代码块样式
blockquote {
  color: #080915;
  border-left: 0.5rem solid #47BB87;
  background-color: #f3f5f75c;
}

div[class*="language-"].line-numbers-mode .line-numbers-wrapper{
  width: 2.7rem;
}
div[class*="language-"].line-numbers-mode:after {
  width: 2.7rem;
}

// 代码行样式
.theme-default-content code {
    color: #d66616;
    font-size: 1.2em;
    background-color: #ffffff;
}